@charset "UTF-8";
header {
  background-image: url('https://sugiharaayumi.github.io/riway/images/index_01.jpg');
  background-position: center;
  background-size: cover;
  height: 225px;
  max-height: 763px;
  text-align: center;
}
@media (min-width: 576px) {
  header {
    height: 400px;
  }
}
@media (min-width: 992px) {
  header {
    height: 500px;
  }
}
header .conWrap {
  height: 100%;
  color: #ffffff;
}
header .formSubject {
  font-size: 2.5rem;
  position: relative;
  text-shadow: 1px 1px 7px white, 1px 0px 0px rgba(82, 82, 82, 0.58), -5px 3px 12px white, 0px -4px 3px rgba(128, 128, 128, 0.64), 0px 1px 5px rgba(93, 91, 91, 0.66), 1px 1px 4px rgba(128, 128, 128, 0.63), 0px 1px 2px rgba(128, 128, 128, 0.36), 0px 0px 7px rgba(128, 128, 128, 0.58), 0px 0px 5px rgba(0, 0, 0, 0.73);
}
@media (min-width: 576px) {
  header .formSubject {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  header .formSubject {
    font-size: 4.5rem;
  }
}
header .formSubject::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 123;
  width: 320px;
  height: 40px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  background-image: url('https://sugiharaayumi.github.io/riway/images/slogan.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 576px) {
  header .formSubject::after {
    width: 500px;
    height: 60px;
  }
}
@media (min-width: 992px) {
  header .formSubject::after {
    width: 680px;
    height: 120px;
  }
}
.secondwrp {
  background-color: #252837;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 996px) {
  .secondwrp {
    font-size: 1.8rem;
  }
}
.secondwrp .second_bg {
  background-image: url('https://sugiharaayumi.github.io/riway/images/index_02.jpg');
  background-color: #252837;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  min-height: 140px;
}
@media (min-width: 476px) {
  .secondwrp .second_bg {
    background-size: auto 250px;
    min-height: 250px;
  }
}
@media (min-width: 768px) {
  .secondwrp .second_bg {
    background-size: 110%;
    min-height: 280px;
  }
}
@media (min-width: 996px) {
  .secondwrp .second_bg {
    background-size: cover;
    min-height: 320px;
  }
}
@media (min-width: 1200px) {
  .secondwrp .second_bg {
    background-size: 80%;
    min-height: 300px;
  }
}
@media (min-width: 1400px) {
  .secondwrp .second_bg {
    background-size: 60%;
    min-height: 320px;
  }
}
.promoCard {
  height: 200px;
}
@media (min-width: 576px) {
  .promoCard {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .promoCard {
    height: 430px;
  }
}
@media (min-width: 992px) {
  .promoCard {
    height: 550px;
  }
}
@media (min-width: 1200px) {
  .promoCard {
    height: 650px;
  }
}
.promoCard .photo {
  background-image: url('https://sugiharaayumi.github.io/riway/images/index_03.jpg');
  background-position: center;
  background-size: cover;
}
.promoCard .photo2 {
  background-image: url('https://sugiharaayumi.github.io/riway/images/index_09.jpg');
  background-position: center;
  background-size: cover;
}
.promoCard .text_block {
  background-color: #ffc000;
  color: #252837;
  line-height: 1.8;
  font-weight: 600;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .promoCard .text_block {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .promoCard .text_block {
    font-size: 1.8rem;
  }
}
.strongSlogan {
  background-color: #252837;
  color: #ffc000;
}
.strongSlogan h1 {
  font-weight: 700;
}
.strongSlogan .sloganInfo {
  background-image: url('https://sugiharaayumi.github.io/riway/images/index_06.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .strongSlogan .sloganInfo {
    font-size: 1.2rem;
  }
}
.joinTitle {
  background-image: url('https://sugiharaayumi.github.io/riway/images/index_12.jpg');
  background-color: #585d6f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
}
@media (min-width: 576px) {
  .joinTitle {
    background-size: cover;
    height: 120px;
  }
}
@media (min-width: 768px) {
  .joinTitle {
    background-size: 100%;
    height: 180px;
  }
}
@media (min-width: 1200px) {
  .joinTitle {
    background-size: 90%;
    height: 180px;
  }
}
.supphoto {
  background-color: #252837;
}
.formstyle {
  background-image: url('https://sugiharaayumi.github.io/riway/images/index_15.jpg');
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.formstyle .form-control,
button.btn {
  border-radius: 1rem;
}
.btn-dorange {
  background-color: #ef9a21;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
}
footer {
  background-color: #5e616d;
  color: #ffffff;
  text-align: center;
}
footer img {
  width: 40px;
}
footer .h2 {
  font-weight: 900;
}
